@import '../../../../../src/colors';

.border-color-class{
  border-color: $blue-color; /* Колір межі */
  border-style: solid; /* Стиль межі (в даному випадку, лінія) */
  border-width: 3px; /* Ширина межі */
}


.employer-card {
  //border: 1px solid #ccc;
  font-size: 0.875rem;
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: $tertiary-color;
}

.employer-photo {
  width: 50px;
  height: 50px;
}

.employer-photo img {
  border-radius: 50%;
  width: 100%; /* Зробіть ширину картинки 100% блока */
  height: 100%; /* Зробіть висоту картинки 100% блока */
  object-fit: cover; /* Це забезпечить, що зображення буде відображене в центрі блока та обрізане, якщо воно не підходить по висоті або ширині */
}


.employer-name {
  font-size: 18px;
  margin-bottom: 1px;
}

.employer-field {
  font-style: italic;
}




.company-site-link {
  text-decoration: underline;
  color: black;
}

.company-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.established-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.rating {
  font-size: 18px;
  font-weight: bold;
}

.review-count {
  margin-top: 10px;
  font-size: 0.7rem;
  color: $text-grey-color;
}



.star-container {

}

.star-box {
  max-width: 0.6vw;
  min-width: 5px;
  min-height: 5px;
}

.star {
  padding: 0;
  margin: 0;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
}


.small_icon ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base{
  width: 24px;
  height: 24px;
}

.small_icon ::ng-deep .mat-mdc-icon-button .mat-mdc-button-touch-target{
  width: 36px;
  height: 36px;
}

.small_icon ::ng-deep .mat-mdc-icon-button svg, .mat-mdc-icon-button img {
  width: var(--mdc-icon-button-icon-size, 18px);
  height: var(--mdc-icon-button-icon-size, 18px);
}
