<div *ngIf="job" class="block-with-job " (click)="goToURL('/job/' + job.id, true)">
  <div *ngIf="(isSearchPage || isRecommendation) && !shortVersionJob &&  job.JobBackgroundImg != '' && job.JobBackgroundImg != null" class="job-photo ">
     <img id="job-photo" ngSrc="{{job.JobBackgroundImg}}}" (error)='handleImageError($event, "assets/img/alt-image.png")'>
  </div>
  <div *ngIf="!shortVersionJob">
    <app-chips-job-priority [dataJob]="job"> </app-chips-job-priority>
  </div>

  <div class="row "  style="margin-top: 16px">
    <div class="col " style="padding: 0; margin-left: 8px">
      <button class="blank_button " tabindex="0"  >
        <p class="job-text job-name font-18-bold">
          {{job.jobTitle}}
        </p>
      </button>
      <div class="font-16-regular ">
        <div style="display: flex; align-items: center;"  *ngIf="job.jobSalaryMin != null || job.jobSalaryMax != null">
          <p *ngIf="job.jobSalaryMin != null" class="job-text small font-16-regular">
            {{ job.jobSalaryMin | currencySymbol: job.jobSalaryCurrency }}
          </p>
          <p style="margin: 0; padding: 0" *ngIf="job.jobSalaryMin != null && job.jobSalaryMax != null">-</p>
          <p *ngIf="job.jobSalaryMax != null" class="job-text small font-16-regular">
            {{ job.jobSalaryMax | currencySymbol: job.jobSalaryCurrency}}
          </p>
        </div>
      </div>
      <button *ngIf="!isEmployerPage" class="blank_button " (click)="CompanyNameButton($event)" style="max-width: max-content;">
        <p *ngIf="!isSearchPage && !isRecommendation" class="job-text small font-16-regular">
          {{employer.companyName}}
        </p>
        <p *ngIf="isSearchPage || isRecommendation" class="job-text small font-16-regular">
          {{job.employer.companyName}}
        </p>
      </button>

    </div>
    <div *ngIf="!isEmployerPage" class=" company-icon-div"  >
      <img *ngIf="!isSearchPage && !isRecommendation" (click)="CompanyNameButton($event)"
        class="company-icon" src="{{employer.companyImg}}" alt="0" (error)='handleImageError($event, "assets/img/loading-picture.png")'>
      <img *ngIf="isSearchPage || isRecommendation"
           (click)="CompanyNameButton($event)"
           class="company-icon"
           [src]="job.employer.companyImg"
           alt="0"
           (error)="handleImageError($event, 'assets/img/loading-picture.png')">
    </div>
  </div>

  <div *ngIf="!shortVersionJob" class="font-16-regular" style="margin-top: 8px; margin-bottom: 12px">
    {{ job.jobDescription | truncate:200 }}
  </div>

  <div *ngIf="!shortVersionJob">
    <app-chip-job-list [IsSearchPage]="true" [TagsPros]="job.jobTagsPros" [IsBig]="true"></app-chip-job-list>
  </div>

  <div class="row align-items-center " (click)="handleButtonClick($event)"  style="margin-top: 16px">
    <div class="col " >
      <button class="view-button font-14-semibold" (click)="goToURL('/job/' + job.id, true)">
        <span>Подати заявку</span>
        <mat-icon style="height: 23px; width: 20px;">chevron_right</mat-icon>
      </button>
    </div>

    <div class="col-auto " style="margin-top: 16px">
      <div style="display: flex; align-items: center; justify-content: center;" class="">

        <p style="margin: 0px 12px 0px 0px; padding: 0" class="font-14-regular text-grey">{{timeSince(job.dateApproving)}} тому</p>

        <button *ngIf="userData" (click)="saveJob()"  class="blank_button" style="margin-right: 4px; ">
          <img class="img-icon" [src]="!isSaved ? '../../../../assets/img/icons/cards/empty_star.png' : '../../../../assets/img/icons/cards/saved_star.png'" alt="Icon" height="24" width="24">
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="display: flex; align-items: center; justify-content: center;">
          <img class="" style="margin-top: 2px" src="../../../../assets/img/icons/cards/3_dots.png" height="24" width="24">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>report</mat-icon>
            <span>Пожалітися</span>
          </button>
          <button mat-menu-item>
            <mat-icon>report</mat-icon>
            <span>Приховати</span>
          </button>
        </mat-menu>

      </div>
    </div>
  </div>


</div>
