<div class="block-with-job">
  <div *ngIf="!shortVersionJob && dataJob.banner_picture != '' && dataJob.banner_picture != null" class="job-photo">
    <!--        СЮДИ ФОТО-->
    <img id="job-photo" src="assets/img/JobLogo1.png" (error)='handleImageError($event, "assets/img/alt-image.png")'>
  </div>
  <div *ngIf="!shortVersionJob">
    <app-chips-job-priority [dataJob]="dataJob"> </app-chips-job-priority>
  </div>

  <div class="row "  style="margin-top: 16px">
    <div class="col " style="padding: 0; margin-left: 8px">
      <button (click)="goToURL('/job/' + dataJob.id, true)" class="blank_button " tabindex="0"  >
        <p class="job-text job-name font-18-bold">
          {{dataJob.title}}
        </p>
      </button>
      <p *ngIf="dataJob.salary != null" class="job-text small font-16-regular">
        {{ dataJob.salary}}
      </p>
      <button class="blank_button " (click)="goToURL('/employer/' + dataJob.id, true)" style="max-width: max-content;">
        <p class="job-text small font-16-regular">
          {{dataJob.company}}
        </p>
      </button>

    </div>
    <div  class=" company-icon-div"  >
      <img (click)="goToURL('/employer/' + dataJob.id, true)"
        class="company-icon" src="{{dataJob.company_picture}}" alt="0" (error)='handleImageError($event, "assets/img/alt-image.png")'>
    </div>
  </div>

  <div *ngIf="!shortVersionJob" class="font-16-regular" style="margin-top: 8px; margin-bottom: 12px">
    {{ dataJob.description | truncate:200 }}
  </div>

  <div *ngIf="!shortVersionJob">
    <app-chip-job [IsBig]="true"></app-chip-job>
  </div>

  <div class="row align-items-center " style="margin-top: 16px">
    <div class="col " >
      <button class="view-button font-14-semibold" (click)="goToURL('/job/' + dataJob.id, true)">
        <span>Подати заявку</span>
        <mat-icon style="height: 23px; width: 20px;">chevron_right</mat-icon>
      </button>
    </div>

    <div class="col-auto " style="margin-top: 16px">
      <div style="display: flex; align-items: center; justify-content: center;" class="">

        <button (click)="saveJob()" class="blank_button" style="margin-right: 4px; ">
          <img class="img-icon" [src]="IsSaved ? '../../../../assets/img/icons/cards/empty_star.png' : '../../../../assets/img/icons/cards/saved_star.png'" alt="Icon" height="24" width="24">
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="display: flex; align-items: center; justify-content: center;">
          <img class="" style="margin-top: 2px" src="../../../../assets/img/icons/cards/3_dots.png" height="24" width="24">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>report</mat-icon>
            <span>Пожалітися</span>
          </button>
          <button mat-menu-item>
            <mat-icon>report</mat-icon>
            <span>Приховати</span>
          </button>
        </mat-menu>

      </div>
    </div>
  </div>


</div>
