@import '../../../../../src/colors';

.block-with-job{
  margin: 0;
  border-radius: 20px;
  background-color: $tertiary-color;
  padding: 24px;
  min-width: 200px;
}

.border-color-class{
  border-color: $blue-color; /* Колір межі */
  border-style: solid; /* Стиль межі (в даному випадку, лінія) */
  border-width: 3px; /* Ширина межі */
}

.flex-justify-between{
  display: flex;
  justify-content: space-between;
}

.job-photo {
  width: 100%;
  height: 100%;
}

.job-photo img {
  border-radius: 20px;
  width: 100%; /* Зробіть ширину картинки 100% блока */
  max-height: 140px;
  object-fit: cover; /* Це забезпечить, що зображення буде відображене в центрі блока та обрізане, якщо воно не підходить по висоті або ширині */
}

.chips-job-priority{
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 0.875 rem;
  font-weight: 900;
}

.chips-job-priority .fire{
  color: $chip-fire;
}

.chips-job-priority .bolt{
  color: $chip-bolt;
}
