
<div class="container">
  <app-popular-employers [isPage] = false></app-popular-employers>
  <app-highest-paying-jobs [filter] = "'галузями'"></app-highest-paying-jobs>
  <app-highest-paying-jobs [filter] = "'місцезнаходженням'"></app-highest-paying-jobs>

  <div class="flex-justify-centre font-18-bold" style="margin-top: 64px; margin-bottom: 64px" >
    <div class="messages_links" style="padding: 24px">
      <div style="padding-bottom: 25px; ">
        Отримуйте повідомлення про нові вакансії у месенджерах
      </div>
      <div class="row" style="solid; margin: 0; padding: 10px">
        <button class="col flex-justify-centre button-blank" [routerLink]="'https://t.me/Marun_Ykraini'" target="_blank">
          <div style="padding-right: 5px">
            <img ngSrc="../../../assets/img/icons/message.png" height="24" width="24">
          </div>
          <div>
            <strong>Telegram</strong>
          </div>
        </button>
        <button class="col flex-justify-centre button-blank" >
          <div style="padding-right: 5px">
            <img ngSrc="assets/img/icons/mail.png" height="24" width="24">
          </div>
          <div>
            <strong>Viber</strong>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

