<div class="">
  <div  [ngClass]="IsBig ? 'font-14-semibold' : 'font-10-semibold'">
    <div class="row " style="margin-left: 0px" *ngIf="!IsSearchPage && Tags">
      <div  style="padding: 0px" class="col-auto  " *ngFor="let tag of Tags; let i = index">
        <div class=" " *ngIf="tag.tagType === 'pros'">
          <div style="margin-right: 8px" class="tag" [ngClass]="i % 3 === 0 ? 'tag-place' : (i % 3 === 1 ? 'tag-type-work' : 'tag-other')">{{ tag.tagName }}</div>
        </div>
      </div>
    </div>
    <div class="row " style="margin-left: 0px" *ngIf="IsSearchPage && TagsPros" >
      <div style="padding: 0px" class="col-auto  " *ngFor="let tag of TagsPros; let i = index">
        <div class=" " >
          <div style="margin-right: 8px" class="tag" [ngClass]="i % 3 === 0 ? 'tag-place' : (i % 3 === 1 ? 'tag-type-work' : 'tag-other')">{{ tag.jobTagsProsName }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
