<ng-container>
  <div style="padding: 30px 30px">
    <div *ngIf="Type === 'JobRequest'">
      <p class="font-24-bold">Відгукнутися на вакансію</p>
      <p>При виконанні цією дії звертайте увагу на такі речі:</p>
      <ul>
        <li>Виберіть резюме</li>
        <li>Заповніть усі необхідні поля</li>
        <li>Натискайте "Подати заявку"</li>
        <li>Очікуйте повідомлень в чаті</li>
      </ul>
    </div>

    <div *ngIf="Type === 'JobRequest'">
      <p class="font-24-bold">Відгукнутися на вакансію</p>
      <p>При виконанні цією дії звертайте увагу на такі речі:</p>
      <ul>
        <li>Виберіть резюме</li>
        <li>Заповніть усі необхідні поля</li>
        <li>Натискайте "Подати заявку"</li>
        <li>Очікуйте повідомлень в чаті</li>
      </ul>
    </div>

    <div *ngIf="Type === 'JobRequest'">
      <p class="font-24-bold">Відгукнутися на вакансію</p>
      <p>При виконанні цією дії звертайте увагу на такі речі:</p>
      <ul>
        <li>Виберіть резюме</li>
        <li>Заповніть усі необхідні поля</li>
        <li>Натискайте "Подати заявку"</li>
        <li>Очікуйте повідомлень в чаті</li>
      </ul>
    </div>
  </div>

</ng-container>

