<ng-container>
  <div style="padding: 30px 30px">
    <div *ngIf="Type === 'JobRequest'">
      <p class="font-24-bold">Відгукнутися на вакансію</p>
      <p>При виконанні цієї дії звертайте увагу на такі речі:</p>
      <ul>
        <li>Виберіть резюме</li>
        <li>Заповніть усі необхідні поля</li>
        <li>Натискайте "Подати заявку"</li>
        <li>Очікуйте повідомлень в чаті</li>
      </ul>
    </div>

    <div *ngIf="Type === 'CreateResume'">
      <p class="font-24-bold">Створення резюме</p>
      <p>Виберіть один з варіантів</p>
      <ul>
        <li>Заповнення форми за допомогою резюме/CV</li>
        <li>Заповнення форми резюме власноруч</li>
      </ul>
    </div>

    <div *ngIf="Type === 'AddUserInfo'">
      <p class="font-24-bold">Особиста інформація</p>
      <p>Заповніть такі поля:</p>
      <ul>
        <li>Прізвище та Ім'я (обов'язково)</li>
        <li>Місто в якому шукаєте роботу</li>
        <li>Дата народження</li>
        <li>Ваше зображення</li>
      </ul>
    </div>

    <div *ngIf="Type === 'asd'">
      <p class="font-24-bold">Відгукнутися на вакансію</p>
      <p>При виконанні цієї дії звертайте увагу на такі речі:</p>
      <ul>
        <li>Виберіть резюме</li>
        <li>Заповніть усі необхідні поля</li>
        <li>Натискайте "Подати заявку"</li>
        <li>Очікуйте повідомлень в чаті</li>
      </ul>
    </div>
  </div>

</ng-container>

