<div class="highest-paying-job-card" style="padding-top: 30px; padding-bottom: 30px">
  <div class=" ">
    <div class=" " >
      <p class="highest-paying-job-name font-18-bold">
        Автоматизаційний інженер
      </p>
      <div style="display: flex; padding-top: 10px; ">
        <img  ngSrc="assets/img/icons/dollar-circle.png" height="24" width="24">
        <p class="font-14-regular" style="padding-left: 10px">
          Середня зарплата 45 200 грн/місяць
        </p>
      </div>
    </div>
  </div>
  <hr style="border-width: 3px; border-radius: 100px; border-color: #1E1E1E; opacity: 80%">
  <div class="row  align-items-center">
    <div class="col" >
      <div class="font-14-regular" style="display: flex; justify-content: space-between"> {{number_vacancy}} вакансій</div>
    </div>
    <div class="col ">
      <button class="view-button font-14-semibold">
        <span>Переглянути</span>
        <img class="" style="margin-top: 2px" src="../../../../assets/img/icons/arrows/arrow-right.png" height="23" width="20">
      </button>
    </div>
  </div>
</div>
