<div *ngIf="dataEmployerJobs && employer.jobsCount && dataEmployerJobs.length > 0">
  <p class="font-24-bold" style="margin: 32px 8px;">
    {{employer.jobsCount}} вакансій компанії
  </p>
  <div class="app-job-search-card" *ngFor="let jobComponent of dataEmployerJobs; let i = index">
    <app-job-short-card
      [isEmployerPage]="true"
      [job]="jobComponent"
      [shortVersionJob]=true
      [employer]="employer"
      [userData]="userData"
    >
    </app-job-short-card>
  </div>
  <div style="width: 100%; margin: 16px; margin-bottom: 58px" class="flex-justify-centre-content">
    <button class="blank_button font-18-bold text-grey" style="display: flex; align-items: center; justify-content: center">
      Переглянути ще схожі
      <img ngSrc="assets/img/icons/arrows/arrow-right-grey.png" height="24" width="24">
    </button>
  </div>

</div>
