@import '../../../../../src/colors';


.expand-button{
  border: 0;
  background: none;
}

.block-with-filters {
  margin: 0;
  border-radius: 20px;
  background-color: $tertiary-color;
  padding: 24px;
  min-width: 200px;
}

.border-color-class{
  border-color: $blue-color; /* Колір межі */
  border-style: solid; /* Стиль межі (в даному випадку, лінія) */
  border-width: 3px; /* Ширина межі */
}

.flex-justify-between{
  display: flex;
  justify-content: space-between;
}


.blue-button-header-small{
  border-radius: 100px;

  //border: $blue-color;
  //background: $blue-color;
  border: none;
  background: none;
}

.search-bar {
  display: flex;
  align-content: center;
  border-radius: 20px;
  background: $tertiary-color;
  height: 5vh;
  min-height: 40px;
  min-width: 100px;
  place-items: center;
  padding-right: 10px;
  padding-left: 20px;
  background: none;
  position: relative;
}

.search-bar-input {
  position: relative;
}

.search-bar-input input {
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  width: 100%;
  padding: 5px;
  transition: border-bottom-color 0.3s;
}

.search-bar-input input:focus {
  border-bottom-color: $primary-color;
}

/* Додавання лінії після активного інпута */
.search-bar-input input:focus::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: blue;
}

.example-section {
  margin: 12px 0;
  width: 100%;
  //border: #1E1E1E 3px solid;
}

.example-list-section{
  width: 100%;
  //border: #1E1E1E 3px solid;
}

.example-list-container{
  max-height: 250px; /* Наприклад, встановлюємо максимальну висоту контейнера */
  overflow-y: auto; /* Включаємо вертикальну прокрутку при потребі */
}


.example-margin {
  //margin: 0 12px;
  width: 100%;
  display: flex;
  align-items: start;
}

.example-margin mat-checkbox {
  align-self: flex-start;
}

.example-margin span {
  align-self: flex-start;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

li {
  list-style-type: none;
  margin-top: 4px;
}


::ng-deep .mdc-form-field{
  align-items: start !important;
}

::ng-deep .mat-mdc-checkbox .mdc-form-field {
  color: $text-color-black !important;
  font-family: Mulish, sans-serif;
  font-size: 1 rem;
  font-weight: 500;
}

::ng-deep .mdc-form-field>label{
  margin-top: 8px;
}

::ng-deep input[type="checkbox" i] {
  border: #1E1E1E 3px solid;
}

::ng-deep .mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: white;
  --mdc-checkbox-selected-focus-icon-color: #198BFF;
  --mdc-checkbox-selected-hover-icon-color: #198BFF;
  --mdc-checkbox-selected-icon-color: #198BFF;
  --mdc-checkbox-selected-pressed-icon-color: #198BFF;
  --mdc-checkbox-unselected-focus-icon-color: #212121;
  --mdc-checkbox-unselected-hover-icon-color: #212121;
  --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}


::ng-deep .mat-mdc-checkbox.mat-accent .mdc-checkbox--selected~.mdc-checkbox__ripple{
  background: black;
}
