@import '../../../../../src/colors';

.block-with-job{
  border-radius: 20px;
  background-color: $tertiary-color;
  padding: 30px;
  min-width: 400px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
