<div xmlns="http://www.w3.org/1999/html" style="margin-bottom: 32px">
  <div class="flex-content-between" style="padding: 16px;">
    <button class="get-back-button button-blank font-18-bold" (click)="goBack()">
      <img ngSrc="../../../../assets/img/icons/arrows/arrow-back.png" width="24" height="24" alt="">
      Повернутися
    </button>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="display: flex; align-items: center; justify-content: center;">
        <img class="" style="margin-top: 2px" src="../../../../assets/img/icons/cards/3_dots.png" height="24" width="24" alt="">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>report</mat-icon>
          <span>Поскаржитись</span>
        </button>
        <button mat-menu-item>
          <img class="img-icon" style="margin-right: 16px" src="../../../../assets/img/icons/report/report-old.png" height="24" width="24">
          <span>Приховати</span>
        </button>
      </mat-menu>
    </div>
  </div>


  <div *ngIf="employer && isLoaded" class="row" style="padding-left: 8px" >
    <div [ngClass]="isSmallScreen ? 'col-auto' : 'col-md-9'">
      <div class="block-with-job ">
        <div *ngIf="employer.companyBackgroundImg != '' && employer.companyBackgroundImg != null" class="job-photo ">
          <!--        СЮДИ ФОТО-->
          <img id="job-photo" src="{{employer.companyBackgroundImg}}" (error)='handleImageError($event, "assets/img/alt-image.png")' alt="">
        </div>
        <div class="block-with-job-with-padding">
          <div class="row "  style="margin-top: 16px">
            <div class="col " style="padding: 0; margin-left: 8px">
              <div>
                <p class="job-text job-name font-32-bold">
                  {{employer.companyName}}
                </p>
              </div>

              <div class="row" style="margin-top: 10px">
                <div class="col font-14-regular">
                  <mat-icon class="company-icon">people</mat-icon>
                  близько {{employer.numberWorkers}} працівників
                </div>
              </div>
              <div class="row" style="margin-top: 10px">
                <div class="col font-14-regular">
                  <mat-icon class="company-icon">calendar_today</mat-icon>
                  з {{employer.companyYear}} року на ринку
                </div>
              </div>
              <div class="row" style="margin-top: 10px">
                <div class="col">
                  <button (click)="navigateToExternalUrl(employer.companyURL)" class="company-site-link font-14-regular blank_button" >
                    <mat-icon class="company-icon">link</mat-icon>
                    Вебсайт компанії
                  </button>
                </div>
              </div>
            </div>


            <div *ngIf="employer.companyChecked" class=" company-icon-div"  >
              <img  src="../../../../assets/img/icons/cards/check_mark.png" alt="0">
            </div>
          </div>
          <div style="margin-top: 8px">
            <div class="font-18-bold" style="margin-bottom: 8px">
              Переваги роботи в компанії
            </div>
            <app-chip-job-list [Tags]="employer.tags" [IsBig]="true" ></app-chip-job-list>

          </div>

          <div style="margin-top: 36px; margin-bottom: 36px" class="job-description font-14-regular" [innerHTML]="formatDescription(employer.companyDescription)">

          </div>

          <div class="row align-items-center " style="margin-top: 24px">
            <div class="col ">
              <div style="display: flex">
                <button class="view-button font-18-semibold" (click)="goToURL('/', true)" style="margin-right: 24px">
                  <span>Написати роботодавцю</span>
                  <mat-icon style="height: 23px; width: 20px;">chevron_right</mat-icon>
                </button>

                <button class="blank_button report font-18-bold "  style="margin-right: 24px; display: flex; align-items: center">
                  <mat-icon  style="margin-right: 8px">report</mat-icon>
                  <span>Поскаржитися</span>
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>

      <!--
      ............................
      -->

      <div *ngIf="employer.jobsCount > 0">
        <div [ngClass]="isSmallScreen ? 'col-auto' : 'col'">
          <app-employer-jobs-list [dataEmployerJobs] = "employer.jobs" [employer]="employer"></app-employer-jobs-list>
        </div>
      </div>

      <div  #parentDiv *ngIf="employer.comments.length > 0 && !isSmallScreen" class="block-with-job-small block-with-job-small-with-padding">
        <app-comments-list [employer]="employer" [isSmallScreen] = isSmallScreen [isRightSide] = false></app-comments-list>
      </div>

      <div *ngIf="!isSmallScreen" class="col" style="margin-top: 32px">
        <div>
          <app-subscribe-to-employer
            [dataEmployer]="employer"
          ></app-subscribe-to-employer>
        </div>
      </div>




    </div>

<!--
    New Column
-->

    <div [ngClass]="isSmallScreen ? '' : 'col-md-3'">
      <div *ngIf="employer.commentCount > 0" class="block-with-job-small block-with-job-small-with-padding">
        <div class=" align-items-center " >
          <app-comments-rating [employer]="employer"></app-comments-rating>
        </div>
      </div>

      <div *ngIf="employer.comments.length > 0 " class="block-with-job-small block-with-job-small-with-padding">
        <app-comments-list [employer]="employer" [isSmallScreen] = isSmallScreen [scrollTo]="" [isRightSide] = true></app-comments-list>
      </div>


      <div *ngIf="employer.tags.some(itemHasIntensities)" class="font-14-regular block-with-job-small block-with-job-small-with-padding">
        <ng-container>
          <app-about-employer [aboutEmployerData]="employer.tags"></app-about-employer>
        </ng-container>
      </div>

      <div class="block-with-job-small block-with-job-small-with-padding" >
        <app-subscribe-to-employer
          [dataEmployer]="employer"
          [isSmallScreen] = isSmallScreen
          [isShortView] = true
          [isRightPanel] = true
        ></app-subscribe-to-employer>
      </div>
    </div>
  </div>

  <div *ngIf="!employer || !isLoaded">
    <app-loading-progress></app-loading-progress>
  </div>

</div>
