<header >
  <ng-container *ngIf="isSideBarRight" >
    <ng-container *ngTemplateOutlet="sidebar_right"></ng-container>
  </ng-container>

  <div class="gray-header ">
    <div class="black-header " >
      <div class=" row  header-menu ">
        <div class="col-auto " >
          <img class="logo" src="../../../assets/img/icons/header/JobLogo.png" alt="Logo" [routerLink]="['/']"
               (click)="setActiveMenuItem('/')">
        </div>
        <div *ngIf="!isScreenSmall;" class="col-auto  " style="margin-left: 32px">
          <nav >
            <ul class="menu " >
              <div class="row row-menu ">
                <div *ngIf="userRole == 'Searcher' || userRole == 'ANONYM'" class="col-auto " >
                  <div *ngIf="activeMenuItem && activeMenuItem.startsWith('/search-job') else blank_margin_for_line" class="line"></div>
                  <div style="height: 100%"></div>
                  <li class="menu-item " [routerLinkActive]="['link-active']" (click)="setActiveMenuItem('/search-job')">
                    <a class="font-16-bold" [ngClass]="{'active_menu': activeMenuItem === '/search-job'}" [routerLink]="['/search-job']">
                      Пошук
                    </a>
                  </li>
                </div>
                <div *ngIf="userRole == 'Searcher' || userRole == 'ANONYM'" class="col-auto ">
                  <div *ngIf="activeMenuItem === '/popular-employers'; else blank_margin_for_line" class="line"></div>
                  <div style="height: 100%"></div>
                  <li class="menu-item" [routerLinkActive]="['link-active']" (click)="setActiveMenuItem('/popular-employers')">
                    <a class="font-16-bold" [ngClass]="{'active_menu': activeMenuItem === '/popular-employers'}" [routerLink]="['/popular-employers']">
                      Популярні роботодавці
                    </a>
                  </li>
                </div>
                <div *ngIf="isLogin && userRole == 'Employer'" class="col-auto ">
                  <div *ngIf="activeMenuItem === '/create-job'; else blank_margin_for_line" class="line"></div>
                  <div style="height: 100%"></div>
                  <li class="menu-item" [routerLinkActive]="['link-active']" (click)="setActiveMenuItem('/create-job')">
                    <a class="font-16-bold" [ngClass]="{'active_menu': activeMenuItem === '/create-job'}" [routerLink]="['/create-job']">
                      Створити вакансію
                    </a>
                  </li>
                </div>
                <div *ngIf="isLogin && userRole == 'Employer'" class="col-auto ">
                  <div *ngIf="activeMenuItem === '/my-jobs'; else blank_margin_for_line" class="line"></div>
                  <div style="height: 100%"></div>
                  <li class="menu-item" [routerLinkActive]="['link-active']" (click)="setActiveMenuItem('/my-jobs')">
                    <a class="font-16-bold" [ngClass]="{'active_menu': activeMenuItem === '/my-jobs'}" [routerLink]="['/my-jobs']">
                      Мої вакансії
                    </a>
                  </li>
                </div>
                <div *ngIf="isLogin;" class="col-auto " >
                  <div *ngIf="activeMenuItem && activeMenuItem === '/questions'; else blank_margin_for_line" class="line"></div>
                  <div style="height: 100%"></div>
                  <li class="menu-item " [routerLinkActive]="['link-active']" (click)="setActiveMenuItem('/questions')">
                    <a class="font-16-bold" [ngClass]="{'active_menu': activeMenuItem === '/questions'}" [routerLink]="['/questions']">
                      Запитання
                    </a>
                  </li>
                </div>
                <div class="col-auto ">
                  <div *ngIf="activeMenuItem === '/about-us'; else blank_margin_for_line" class="line"></div>
                  <div style="height: 100%"></div>
                  <div style="display: grid; place-items: center">
                    <li class="menu-item" [routerLinkActive]="['link-active']" (click)="setActiveMenuItem('/about-us')">
                      <a class="font-16-bold" [ngClass]="{'active_menu': activeMenuItem === '/about-us'}" [routerLink]="['/about-us']">
                        Про нас
                      </a>
                    </li>
                  </div>
                </div>
              </div>
            </ul>
          </nav>
        </div>

        <div class=" col align-items-center justify-content-center row  "  style="margin-left: 15px;">
          <div class="col " style="display: flex; justify-content: right">
            <form (ngSubmit)="onSearchBarSubmit()">
              <div class="search-bar search-bar-small" style="padding-right: 20px; padding-left: 20px">
                <input type="text" placeholder="Пошук..." class="font-14-regular" [(ngModel)]="searchQuerySmall" name="searchQuerySmall">
                <div>
                  <button type="submit" class="blue-button-header-small" (click)="onSearchBarSubmit()">
                    <img src="assets/img/icons/search.png" height="24" width="24" alt="Search">
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="!isScreenSmall; else small_screen" class="col-auto button-header-block">
            <div *ngIf="!isLogin; else is_login_menu">
              <button [routerLink]="['/auth-login']" class="font-16-bold button-header">
                Увійти
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf=" (userRole == 'ANONYM' || userRole == 'Searcher') && isHeaderSectionVisible()">
        <div class="block-how-work-need-work container font-42-medium img-icon" style="margin-bottom: 20px; display: flex; align-items: center">
           <p class="font-42-medium" style="margin: 0">Як робота повинна <strong>працювати</strong></p>
          <img class="img-work" style="margin-left: 20px; height: 7%; width: 7%; max-height: 55px; max-width: 55px;" src="assets/img/icons/sparkle.png" >
        </div>
        <div *ngIf="!isAboutPage" class="container " style="width: 100%">
          <form (ngSubmit)="onSearchBarSubmit()">
            <div class="search-bar-big">
              <div class="align-items-center flex-container-space-between" style="padding-left: 40px; padding-right: 40px">
                <img src="assets/img/icons/search.png" height="30" width="30" style="margin-left: 30px; margin-right: 10px">
                <input type="text" placeholder="Пошук..." class="font-20-regular" [(ngModel)]="searchQuery" name="searchQuery">
                <div  class="blue-button-header-block">
                  <button *ngIf="!isSearchBarFilled" class="font-16-bold blue-button-header" (click)="onSearchBarSubmit()">
                    Знайти
                  </button>
                  <button *ngIf="isSearchBarFilled" type="submit" class="blue-button-header-small" (click)="emptySearchBar()">
                    <mat-icon style="margin-top: 8px; padding: 0" class="font-24-bold">close</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div style="background: #1E1E1E; height: 1px"></div>
        </div>
      </div>

      <div *ngIf="isCreateJobPage && this.userRole == 'Employer'">
        <div class="block-how-work-need-work container font-42-medium img-icon" style="margin-bottom: 20px; display: flex; align-items: center">
          <p class="font-42-medium" style="margin: 0">Створення вакансії</p>
        </div>
      </div>

      <div *ngIf="isEditJobPage && this.userRole == 'Employer'">
        <div class="block-how-work-need-work container font-42-medium img-icon" style="margin-bottom: 20px; display: flex; align-items: center">
          <p class="font-42-medium" style="margin: 0">Створення вакансії</p>
        </div>
      </div>

      <div *ngIf="isProfileUser && this.userRole != 'Employer'">
        <app-profile-header [Role]="userRole" [userData]="userHeaderPanel" [isMyProfile] = "isMyProfile"></app-profile-header>
      </div>


      <div class="gray-footer-top black-footer-top" style="padding-top: 40px">
      </div>
    </div>
  </div>
</header>



<ng-template #blank_margin_for_line>
  <div style="height: 2px"></div>
</ng-template>


<ng-template #small_screen>
  <div class="col-auto ">
    <button class="blank_button button-burger" (click)="isSideBarRight = !isSideBarRight">
      <img ngSrc="assets/img/icons/header/burger-menu.png" height="48" width="48" >
    </button>
  </div>
</ng-template>



<ng-template #is_login_menu>
  <div style="display: flex">

    <button class="blank_button button-icon"  style="margin-left: 4px; margin-right: 4px">
      <mat-icon matBadge="15"  fontIcon="email" class="message-header"></mat-icon>
    </button>

    <button class="blank_button button-icon" style="margin-left: 4px; margin-right: 4px">
      <mat-icon  matBadge="15" fontIcon="notifications" class="message-header" ></mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" [ngClass]="'user-picture'" style="margin-left: 16px; margin-right: 4px">
      <!-- user.image user.image user.image user.image -->
      <img *ngIf="isUserImage" src="{{this.userHeadData.userImg}}" alt="User Avatar">

      <!-- !user.image -->
      <div *ngIf="!isUserImage" class="initials">
        {{ FirstName && FirstName.charAt(0) != null ?FirstName.charAt(0) : 'Я' }}{{ LastName && LastName.charAt(0) != null ? LastName.charAt(0) : '' }}
      </div>
    </button>

    <mat-menu #menu="matMenu">
      <div *ngIf="userRole == 'Searcher'" class="font-14-regular">
        <button mat-menu-item (click)="goToURL('/profile', true)">
          <mat-icon height="24" width="24">person</mat-icon>
          <span>Мій профіль</span>
        </button>
        <button mat-menu-item (click)="goToURL('/request-history', true)">
          <mat-icon height="24" width="24">history</mat-icon>
          <span>Мої заявки</span>
        </button>
        <button mat-menu-item (click)="goToURL('/chat-rooms', true)">
          <mat-icon height="24" width="24">chat</mat-icon>
          <span>Мої чати</span>
        </button>
        <button mat-menu-item (click)="goToURL('/recommendations', true)">
          <mat-icon height="24" width="24">thumb_up</mat-icon>
          <span>Рекомендовані вакансії</span>
        </button>
        <button mat-menu-item (click)="openDialogAnalytics()">
          <mat-icon height="24" width="24">trending_up</mat-icon>
          <span>Аналітика діяльності</span>
        </button>
        <button mat-menu-item (click)="goToURL('/saved-jobs', true)">
          <mat-icon height="24" width="24">star_border</mat-icon>
          <span>Збережені вакансії</span>
        </button>
        <button mat-menu-item >
          <mat-icon height="24" width="24">announcement</mat-icon>
          <span>Налаштування приватності</span>
        </button>
        <button mat-menu-item>
          <mat-icon height="24" width="24">settings</mat-icon>
          <span>Налаштування акаунта</span>
        </button>
        <button mat-menu-item (click)="goToURL('/logout', true)">
          <mat-icon height="24" width="24">power_settings_new</mat-icon>
          <span>Вийти</span>
        </button>
      </div>
      <div *ngIf="userRole == 'Employer'" class="font-14-regular">
        <button mat-menu-item (click)="goToURL('/profile', true)">
          <mat-icon height="24" width="24">person</mat-icon>
          <span>Мій профіль</span>
        </button>
        <button mat-menu-item (click)="goToURL('/recommendations', true)">
          <mat-icon height="24" width="24">add</mat-icon>
          <span>Створити вакансію</span>
        </button>
        <button mat-menu-item (click)="goToURL('/request-history', true)">
          <mat-icon height="24" width="24">history</mat-icon>
          <span>Мої вакансії</span>
        </button>
        <button mat-menu-item (click)="goToURL('/chat-rooms', true)">
          <mat-icon height="24" width="24">chat</mat-icon>
          <span>Мої чати</span>
        </button>
        <button mat-menu-item (click)="goToURL('/statistics', true)">
          <mat-icon height="24" width="24">trending_up</mat-icon>
          <span>Аналітика діяльності</span>
        </button>
        <button mat-menu-item >
          <mat-icon height="24" width="24">announcement</mat-icon>
          <span>Налаштування приватності</span>
        </button>
        <button mat-menu-item>
          <mat-icon height="24" width="24">settings</mat-icon>
          <span>Налаштування акаунта</span>
        </button>
        <button mat-menu-item (click)="goToURL('/logout', true)">
          <mat-icon height="24" width="24">power_settings_new</mat-icon>
          <span>Вийти</span>
        </button>
      </div>
    </mat-menu>

  </div>
</ng-template>



<ng-template #sidebar_right>
  <div *ngIf="isLogin" class="sidebar-right" [ngClass]="{'show': isSideBarRight}">
     IN FUTURE
  </div>
  <div *ngIf="!isLogin" class="sidebar-right" [ngClass]="{'show': isSideBarRight}">
    IN FUTURE
  </div>
</ng-template>
