<div>
  <p class="font-35-semibold">
    Рекомендовані вакансії
  </p>
  <div class="" *ngFor="let jobComponent of dataJobs; let i = index" style="margin-bottom: 16px">
    <app-job-short-card
      [job]="jobComponent"
      [isRecommendation]=true
      [userData]="userData"
    >
    </app-job-short-card>
  </div>
  <div>
    <app-pagination-list
      [numberElement]="totalElements"
      [maxElementOnPage]="elementsPerPage"
      (currentPage)="handlePageChange($event)"
    >
    </app-pagination-list>
  </div>
</div>



