<div *ngIf="isLoadedIndustries && isLoadedLocations" class="messages_links" [ngClass]="isShortView ? 'align-left': 'align-center'" style="padding: 16px">
  <div class="font-18-bold" [ngStyle]="isShortView ? {} : { 'padding-bottom': '25px' }" >
    <p *ngIf="!isShortView">
      Отримуйте повідомлення про нові вакансії "{{dataEmployer.companyName}}"
    </p>
    <p *ngIf="isShortView">
      Отримуйте нові вакансії "{{dataEmployer.companyName}}"
    </p>
  </div>
  <div class="row " style=" margin: 0; " >
    <div [ngClass]="isSmallScreen ? isRightPanel ? 'col-6 ': 'col' : isRightPanel ? 'full-width': 'col'"  >
      <select
        class="styled-select font-14-regular background-location" id="selectSelector1" (change)="onChange($event)">
        <option *ngFor="let location of locations" [value]="location.id">{{ location.location_country == 'Україна' ? '' : location.location_country + " - " }}{{ location.location_region === location.location_city ? '' : location.location_region + " - " }}{{ location.location_city }}</option>
      </select>
    </div>

    <div [ngClass]="isSmallScreen ? isRightPanel ? 'col-6 ': 'col' : isRightPanel ? 'full-width': 'col'"  >
      <select
        class="styled-select font-14-regular background-work" id="selectSelector2" (change)="onChange($event)">
        <option *ngFor="let industry of industries" [value]="industry.id">{{ industry.industry_name }}</option>
      </select>
    </div>
  </div>
  <div style="width: 100%; display: flex; justify-content: center; margin-top: 32px" >
    <button class="font-18-bold blank_button flex-justify-centre-content">
      <mat-icon>mail_outline</mat-icon>
      <p *ngIf="isShortView" style="margin: 0 0 0 8px;">
        Підписатись
      </p>
      <p *ngIf="!isShortView" style="margin: 0 0 0 8px;">
        Підписатись на вакансії
      </p>
    </button>
  </div>

</div>
