<div class="chips-job-priority font-14-black" >
  <div>
    <div style="display: flex; flex-wrap: nowrap; ">
      <div style="flex-grow: 1;">
        <div *ngIf="IsHotJob" class="fire " style="display: inline-block; margin-top: 4px; margin-bottom: 8px; margin-right: 12px" >
          <img class="img-icon" src="assets/img/icons/chips/fire-icon.png" height="17" width="17">
          Гаряча
        </div>
        <div *ngIf="IsNewJob" class="bolt" style="display: inline-block; margin-top: 4px; margin-bottom: 8px; margin-right: 12px">
          <img class="img-icon" src="assets/img/icons/chips/bolt-icon.png" height="17" width="17">
          Нова
        </div>
        <div *ngIf="IsRecommendJob" class="recommendation" style="display: inline-block; margin-top: 4px; margin-bottom: 8px; margin-right: 12px">
          <img class="img-icon" src="assets/img/icons/chips/recommendation-icon.png" height="17" width="17">
          Рекомендація
        </div>
      </div>
    </div>
  </div>
</div>
