<div >
  <div class="block-heading font-35-semibold">
    Популярні роботодавці
  </div>

  <div class="row">
    <div class="col-4" *ngFor="let employer of (isPage ? employers : employers.slice(0, 6))">
      <app-popular-employers-card></app-popular-employers-card>
    </div>

    <div *ngIf="!isPage" style="width: 100%; text-align: end" class="get_more_popular_jobs">
      <li class="grid-item" [routerLinkActive]="['link-active']">
        <a class="font-24-semibold" style="color: #1E1E1E" [routerLink]="['/popular-employers']">більше</a>
      </li>
    </div>

  </div>
</div>
