$primary-color: #1E1E1E;
//$secondary-color: #F0F5FA;
$secondary-color: #E4EFFA;
$tertiary-color: #FFFFFF;
$text-color-white: #EBEBEB;
$text-color-black: #1E1E1E;
$blue-color: #198BFF;
$icons-buttons-color: #373737;
$text-grey-color:#737373;
$modal-pop-up-background-color:#F9F3FF;


$tag-place: #F1E2FF;
$tag-place-text: #4E0C8D;
$tag-type-work: #E3FFF0;
$tag-type-work-text: #00831C;
$tag-other: #FFECE1;
$tag-other-text: #8A4505;

$chip-fire: #8A4505;
$chip-bolt: #198BFF;
$chip-recommendation: #00831C;

$button-beige: #FFECE1;
$button-pink: #F1E2FF;


