.img-icon {
  -webkit-user-select: none; /* Для Safari */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для IE/Edge */
  user-select: none; /* Стандартне значення */
  pointer-events: none; /* Заборона подій миші */
  touch-action: none; /* Заборона подій дотику */
}

.img-icon-only img {
  -webkit-user-select: none; /* Для Safari */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для IE/Edge */
  user-select: none; /* Стандартне значення */
  pointer-events: none; /* Заборона подій миші */
  touch-action: none; /* Заборона подій дотику */
}

