@import 'colors';

a {
  color: $blue-color;
}
body{
  background-color: $secondary-color;
  font-family: Mulish !important;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: $blue-color;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0;  font-family: Mulish;}


.font-42-medium{
  font-size: 2.625rem;
  font-weight: 500;
}

.font-35-semibold{
  font-size: 2.188rem;
  font-weight: 600;
}

.font-32-bold{
  font-size: 2rem;
  font-weight: bold;
}

.font-28-bold{
  font-size: 1.75rem;
  font-weight: bold;
}

.font-24-bold{
  font-size: 1.5rem;
  font-weight: bold;
}

.font-24-semibold{
  font-size: 1.5rem;
  font-weight: 600;
}


.font-22-regular{
  font-size: 1.375rem;
  font-weight: 400;
}

.font-20-regular{
  font-size: 1.25rem;
  font-weight: 400;
}

.font-18-bold{
  font-size: 1.125rem;
  font-weight: bold;
}

.font-18-semibold{
  font-size: 1.125rem;
  font-weight: 600;
}

.font-16-bold{
  font-size: 1rem;
  font-weight: bold;
}

.font-16-regular{
  font-size: 1rem;
  font-weight: 400;
}

.font-16-medium{
  font-size: 1rem;
  font-weight: 500;
}

.font-14-semibold{
  font-size: 0.875rem;
  font-weight: 600;
}

.font-14-bold{
  font-size: 0.875rem;
  font-weight: bold;
}


.font-14-black{
  font-size: 0.875rem;
  font-weight: 900;
}

.font-14-regular{
  font-size: 0.875rem;
  font-weight: 400;
}

.font-12-regular{
  font-size: 0.75rem;
  font-weight: 400;
}

.font-12-bold{
  font-size: 0.75rem;
  font-weight: bold;
}


.font-10-semibold{
  font-size: 0.625rem;
  font-weight: 600;
}

.font-10-regular{
  font-size: 0.625rem;
  font-weight: 400;
}

.blank_button{
  border: none;
  background: none;
}

.text-grey{
  color: $text-grey-color;
}

.flex-justify-centre-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-icon{
  color: $primary-color;
}


@media screen and (max-width: 800px) {

  .font-42-medium{
    font-size: 1.75rem;
    font-weight: 500;
  }

/*  .font-35-semibold{
    font-size: 1.5rem;
    font-weight: 600;
  }

  .font-32-bold{
    font-size: 1.3rem;
    font-weight: bold;
  }

  .font-28-bold{
    font-size: 1.2rem;
    font-weight: bold;
  }

  .font-24-bold{
    font-size: 1.1rem;
    font-weight: bold;
  }

  .font-24-semibold{
    font-size: 1.1rem;
    font-weight: 600;
  }


  .font-22-regular{
    font-size: 1rem;
    font-weight: 400;
  }

  .font-20-regular{
    font-size: 0.9rem;
    font-weight: 400;
  }

  .font-18-bold{
    font-size: 0.8rem;
    font-weight: bold;
  }

  .font-18-semibold{
    font-size: 0.8rem;
    font-weight: 600;
  }

  .font-16-bold{
    font-size: 0.7rem;
    font-weight: bold;
  }

  .font-16-regular{
    font-size: 0.7rem;
    font-weight: 400;
  }

  .font-16-medium{
    font-size: 0.7rem;
    font-weight: 500;
  }

  .font-14-semibold{
    font-size: 0.6rem;
    font-weight: 600;
  }

  .font-14-bold{
    font-size: 0.6rem;
    font-weight: bold;
  }


  .font-14-black{
    font-size: 0.6rem;
    font-weight: 900;
  }

  .font-14-regular{
    font-size: 0.6rem;
    font-weight: 400;
  }

  .font-12-regular{
    font-size: 0.5rem;
    font-weight: 400;
  }

  .font-12-bold{
    font-size: 0.5rem;
    font-weight: bold;
  }


  .font-10-semibold{
    font-size: 0.4rem;
    font-weight: 600;
  }

  .font-10-regular{
    font-size: 0.4rem;
    font-weight: 400;
  }*/


}



/*// SHADOW

::ng-deep .mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8{
  box-shadow: none !important;
}

::ng-deep .mdc-menu-surface{
  box-shadow: none !important;
}*/

