<ng-container>
  <div *ngIf="resume && userData" xmlns="http://www.w3.org/1999/html" style="margin-top: 20px" class="row ">
    <div *ngIf="hasSectionType('Особиста інформація') || hasSectionType('Контактна інформація') || hasSectionType('Навички') || hasSectionType('Мови') || hasSectionType('Поєднані акаунти')" [ngClass]="isSmallScreen ? 'col ' : 'col-md-4'" class="" >
      <div class="" *ngIf="hasSectionType('Особиста інформація')" >
        <app-resume-section [sections]="['age','location']" [isMyProfile]="isMyProfile" [title]="'Особиста інформація *'" [resume]="resume" [userData]="userData"></app-resume-section>
      </div>

      <div class="" *ngIf="hasSectionType('Контактна інформація')" >
        <app-resume-section [sections]="['phone','email']" [isMyProfile]="isMyProfile" [title]="'Контактна інформація *'" [resume]="resume" [userData]="userData"></app-resume-section>
      </div>

      <div class="" *ngIf="hasSectionType('Навички')" >
        <app-resume-section [sections]="['skills']"  [isMyProfile]="isMyProfile"[title]="'Навички'" [resume]="resume" [userData]="userData"></app-resume-section>
      </div>

      <div class="" *ngIf="hasSectionType('Мови')">
        <app-resume-section [sections]="['languages']" [isMyProfile]="isMyProfile" [title]="'Мови'" [resume]="resume" [userData]="userData"></app-resume-section>
      </div>

      <div class="" *ngIf="hasSectionType('Поєднані акаунти')">
        <app-resume-section [sections]="['links']" [isMyProfile]="isMyProfile" [title]="'Поєднані акаунти'" [resume]="resume" [userData]="userData"></app-resume-section>
      </div>
    </div>

    <div [ngClass]="isSmallScreen ? 'col-auto ' : 'col'" >
      <div class="" >
        <app-resume-section [sections]="['wanted_job']" [isMyProfile]="isMyProfile" [title]="'Бажана посада *'" [resume]="resume" [userData]="userData"></app-resume-section>
      </div>

      <div class="" *ngIf="hasSectionType('Про себе')">
        <app-resume-section [sections]="['about_self']" [isMyProfile]="isMyProfile" [title]="'Про себе'" [resume]="resume" [userData]="userData"></app-resume-section>
      </div>

      <div class="" *ngIf="hasSectionType('Історія роботи')">
        <app-resume-section [sections]="['history']" [isMyProfile]="isMyProfile" [title]="'Історія роботи'" [resume]="resume" [userData]="userData"></app-resume-section>
      </div>

      <div class="" *ngIf="hasSectionType('Освіта')">
        <app-resume-section [sections]="['education']" [isMyProfile]="isMyProfile" [title]="'Освіта'" [resume]="resume" [userData]="userData"></app-resume-section>
      </div>

      <div class="" *ngIf="hasSectionType('Портфоліо')">
        <app-resume-section [sections]="['portfolio']" [isMyProfile]="isMyProfile" [title]="'Портфоліо'" [resume]="resume" [userData]="userData"></app-resume-section>
      </div>

    </div>


      <!--<div [ngClass]="isSmallScreen ? 'col row  margin-block' : 'col-md-3'">
        <div *ngIf="!isSmallScreen"> &lt;!&ndash;[ngClass]="isSmallScreen ? ' order-last' : ''"&ndash;&gt;
          <div class="block-with-job-small block-with-job-small-with-padding-buttons">
            <div class=" align-items-center " >
              <div class=" ">
                <div style="display: grid; justify-content: center; align-items: center" class="">
                  <button class="view-button font-18-semibold" (click)="openDialog()" style="margin-bottom: 8px">
                    <span>Подати заявку</span>
                    <mat-icon style="margin-top: 2px; height: 23px; width: 20px;">chevron_right</mat-icon>
                  </button>

                  <button class="blank_button save font-18-bold" (click)="saveJob()" >
                    <span>Зберегти вакансію</span>
                    <img class="img-icon" style="margin-left: 4px" [src]="isSaved ? '../../../../assets/img/icons/cards/empty_star.png' : '../../../../assets/img/icons/cards/saved_star.png'" alt="Icon" height="26" width="26">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div [ngClass]="isSmallScreen ? 'margin-block-right' : ''">
          <div  class="block-with-job-small block-with-job-small-with-padding-buttons">
&lt;!&ndash;
            <app-appropriateness-job></app-appropriateness-job>
&ndash;&gt;
          </div>

          <div  class="block-with-job-small block-with-job-small-with-padding">
            <div class="font-14-bold text-grey" >
              <p style="padding: 0;  margin-bottom: 8px">{{numberWatch}} переглядів</p>
              <p style="padding: 0; margin: 0">{{numberCandidates}} кандидатів</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="isSmallScreen" class="padding-block-left" >
      &lt;!&ndash;
          <app-similar-jobs-list></app-similar-jobs-list>
      &ndash;&gt;
    </div>-->
  </div>
</ng-container>
