<ng-container>
  <div>
    <p style="margin: 16px 0px" class="font-32-bold">Про нас</p>
    <div class="white-container" style="margin-top: 32px">
      <img class="about-img" style="" src="assets/img/about_us.jpg">
      <div style="padding: 30px;">
        <p class="font-32-bold">Наша мрія</p>
        <p>Наша мрія – створити світ, де кожна людина може знайти роботу своєї мрії, а кожна компанія – талановитих співробітників, які допоможуть досягти успіху. Ми віримо, що робота – це більше, ніж просто засіб для заробітку. Це можливість розкривати свій потенціал, розвивати навички та приносити користь суспільству. Ми мріємо про світ, де кожен має доступ до можливостей для самореалізації та професійного зростання, незалежно від місця проживання, освіти чи соціального статусу. <br><br>
          Уявіть суспільство, де кожен може знайти роботу, яка не тільки відповідає його професійним навичкам, але й приносить задоволення та відчуття реалізованості. Ми прагнемо до того, щоб кожен шукач роботи мав доступ до найкращих вакансій, а роботодавці могли знайти ідеальних кандидатів швидко та без зайвих зусиль. У нашому світі немає місця для розчарувань і безнадії – тільки для натхнення, розвитку та успіху.<br><br>
          Наше прагнення – зробити процес пошуку роботи максимально простим і ефективним, використовуючи передові технології та інноваційні підходи. Ми мріємо про майбутнє, де кожен крок у пошуку роботи є прозорим, зрозумілим і доступним для всіх. Наша мрія – це світ, де можливості знаходять людей, а люди – свої можливості, створюючи гармонійний і продуктивний робочий простір. Ми особливо підтримуємо Україну в цей непростий час і прагнемо допомогти українцям знайти роботу, яка допоможе їм подолати виклики воєнного часу. Тому ми активно співпрацюємо з компаніями, що пропонують вакансії для військових і допоміжних спеціальностей, забезпечуючи підтримку і стабільність.</p>
      </div>
    </div>

    <div class="row" style="margin-top: 32px">
      <div class="col white-container" style="margin: 12px; min-width: 400px">
        <div style="padding: 30px;">
          <p class="font-24-bold text-grey">Наше бачення</p>
          <ul>
            <li>Ми бачимо майбутнє, де пошук роботи стає легким, швидким і ефективним процесом.</li>
            <li>JoBBloom прагне бути мостом між роботодавцями та шукачами роботи, допомагаючи їм знайти ідеальне співпадіння.</li>
            <li>Ми віримо, що правильна робота може змінити життя людини на краще.</li>
            <li>Ми націлені на надання найкращих можливостей для професійного розвитку та кар’єрного зростання.</li>
          </ul>
        </div>
      </div>
      <div class="col white-container" style="margin: 12px; min-width: 400px">
        <div style="padding: 30px;">
          <p class="font-24-bold text-grey">Наша мрія</p>
          <p>Наша місія – надати користувачам простий і зручний інструмент для пошуку роботи, який використовує сучасні технології та підходи для оптимізації цього процесу.<br><br>Ми прагнемо забезпечити наших користувачів доступом до найкращих вакансій, а роботодавцям – до найкращих кандидатів. Ми твердо підтримуємо Україну і хочемо допомогти всім, хто постраждав від воєнних дій, знайти стабільну роботу. Співпрацюючи з організаціями та компаніями, що публікують воєнні вакансії, ми прагнемо зробити свій внесок у підтримку країни та її громадян.</p>
        </div>
      </div>
    </div>

    <div class="white-container" style="margin-top: 32px">
      <div style="padding: 30px;">
        <p class="font-24-bold text-grey">Наша команда</p>
        <div class="row">
          <div class="col" style="min-width: 200px">
            <img class="member-img" style="margin-bottom: 4px" src="assets/img/pes_maskot.jpeg">
            <p style="text-align: center" class="font-12-bold">Мацькевич Мар'ян</p>
          </div>
          <div class="col" style="min-width: 200px">
            <img class="member-img" style="margin-bottom: 4px" src="assets/img/pes_patron.jpg">
            <p style="text-align: center" class="font-12-bold">Богданова Софія</p>
          </div>
          <div class="col" style="min-width: 200px">
            <img class="member-img" style="margin-bottom: 4px" src="assets/img/pes_maskot.jpeg">
            <p style="text-align: center" class="font-12-bold">Згоба Андрій</p>
          </div>
          <div class="col" style="min-width: 200px">
            <img class="member-img" style="margin-bottom: 4px" src="assets/img/pes_patron.jpg">
            <p style="text-align: center" class="font-12-bold">Микола Гурай</p>
          </div>
          <div class="col" style="min-width: 200px">
            <img class="member-img" style="margin-bottom: 4px" src="assets/img/pes_maskot.jpeg">
            <p style="text-align: center" class="font-12-bold">Пес Патрон</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
