<ng-container>
  <div style="color: #1E1E1E">
    <div style="display: flex; justify-content: space-between; align-items: center">
      <p class="font-32-bold">Відгукнутися на вакансію</p>
      <div>
        <button class="hint" [matMenuTriggerFor]="menu">
          <img class="img-icon" src="assets/img/icons/profile/lightbulb.png" height="24" width="24" tyle="display: flex; align-items: center; justify-content: center;">
          Підказка
        </button>

        <mat-menu #menu="matMenu">
          <app-popup-hint [Data]="Data" [Type]="'JobRequest'"></app-popup-hint>
        </mat-menu>
      </div>
    </div>



    <div style="display: flex">
      <div *ngIf="IsAppropriateness" style="display: flex">
        <img class="img-icon" src="assets/img/icons/job/check-approve-icon.png" height="24" width="24">
        <p class="font-16-regular" style="margin: 0px 8px 8px 8px">Відповідає Вашому профілю</p>
      </div>
      <div *ngIf="!IsAppropriateness" style="display: flex">
        <img class="img-icon" src="assets/img/icons/job/cancel-icon.png" height="24" width="24">
        <p class="font-16-regular" style="margin: 0px 8px 8px 8px">Не відповідає Вашому профілю</p>
      </div>
    </div>

    <div style="padding: 0 5%;">
      <div class="scroll-container">
        <form [formGroup]="resumeForm" (ngSubmit)="onSubmitThis()">
          <div>
            <p  style="margin: 8px 8px 0px 0px">Оберіть резюме *</p>

            <div  style="margin-bottom: 8px; margin-right: 8px; margin-top: 0px">
              <div style="width: 100%">
                <div class="styled-select" style="min-width: 200px; width: 100%">
                  <select
                    class="font-14-regular"
                    id="selectSelector"
                    formControlName="resume"
                    (change)="onChange($event)"
                  >
                    <!-- ADD [selected]="resume.resumeActive"-->
                    <option *ngFor="let resume of resumeList" [value]="resume.id" >{{ resume.resumeName }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div>
              <p style="margin: 32px 8px 0px 0px">Супровідний лист</p>
              <div>
              <textarea
                class="text-area"
                formControlName="coverLetter"
                maxlength="200"
                rows="5"
                style="width: 100%"
              ></textarea>
                <div  style="width: 100%; display: flex; justify-content: flex-end">
                  {{ resumeForm.get('coverLetter')?.value.length }} / 200
                </div>
              </div>
            </div>

            <div *ngIf="jobFields && jobFields.needResume">
              <p style="margin: 8px 8px 0px 0px">Завантажити додатковий файл резюме</p>
            </div>

            <div *ngIf="jobFields && jobFields.needResume">
              <input accept=".pdf,.jpg,.jpeg,.png" type="file" class="file-input"
                     (change)="onFileChange($event)" #fileUpload>


              <div class="file-upload" style="margin-bottom: 40px; display: flex; align-items: center" >
                <button type="button" style="margin-right: 8px" mat-mini-fab color="primary" class="upload-btn"
                        (click)="fileUpload.click()">
                  <mat-icon>attach_file</mat-icon>
                </button>
                {{fileName || "Файл ще не завантажено."}}
              </div>
            </div>

            <div *ngIf="jobFields && jobFields.projectField">
              <p style="margin: 8px 8px 0px 0px">Ваші схожі проєкти</p>
              <div>
              <textarea
                class="text-area"
                formControlName="similarProjects"
                maxlength="100"
                rows="4"
                style="width: 100%"
              ></textarea>
                <div  style="width: 100%; display: flex; justify-content: flex-end">
                  {{ resumeForm.get('similarProjects')?.value.length }} / 100
                </div>
              </div>
            </div>

            <div *ngIf="jobFields && jobFields.positiveField">
              <p style="margin: 8px 8px 0px 0px">Ваші позитивні риси</p>
              <div>
                <textarea
                  class="text-area"
                  formControlName="positiveTraits"
                  maxlength="40"
                  rows="1"
                  style="width: 100%"
                ></textarea>
              <div  style="width: 100%; display: flex; justify-content: flex-end">
                {{ resumeForm.get('positiveTraits')?.value.length }} / 40
              </div>
            </div>

            </div>
          </div>
        </form>
      </div>

      <div style="display: flex; justify-content: center; margin-top: 16px">
        <button (click)="onSubmitThis()" type="submit" [disabled]="!resumeForm.valid" class="view-button font-18-semibold" style="margin-right: 24px">
          <span>Подати заявку</span>
        </button>

        <button (click)="OnExit()" class="blank_button report font-18-bold "  style="margin-right: 24px; display: flex; align-items: center">
          <span>Відмінити</span>
        </button>
      </div>

    </div>

  </div>
</ng-container>
